---
import Navbar from '../components/sidebar.astro';
import Layout from '../layouts/Layout.astro'
---
<Layout title="Background">
  <Navbar />
  <main>
    <div>
    <h1>BACKGROUND</h1>
    <p>Hello there! I'm <strong>Lim Wei Jen</strong>, a <strong>full-stack web developer</strong>. I love collaborating on quick projects and bringing ideas to life. With a passion for both graphics design and programming, I create visually stunning and functional websites. I bring a unique blend of creativity and technical expertise to every project.</p>
    <p>I thrive on <strong>embracing new challenges and constantly pushing myself</strong>, and I am thrilled to collaborate with like-minded individuals. If you're looking for a dedicated web developer who can bring your ideas to life with precision and creativity, look no further!</p>
    <p>Why should you work with me? Speed and efficiency are my strengths. I pride myself on delivering fully functional websites within tight deadlines. I understand the importance of efficient project management and effective communication to ensure a smooth development process. With a keen eye for detail and a commitment to excellence, I strive to exceed client expectations.</p>
    <p>Let's collaborate and create something amazing together! <a href="/contacts" style="text-decoration: underline;">Get it touch</a>, and let's bring your vision to life.</p>
    <a href="/skills">→</a>
    </div>
  </main>
</Layout>
<style>
  body {
    overflow: hidden;
    opacity: 0%;
    animation: fade-in 3s ease forwards;
  }
  div {
    width: 50rem;
  }
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @media (max-width: 767px) {
    body {
      margin: 2rem 0rem;
      overflow: scroll;
    }
    div {
      width: 20rem;
    }
  }
  p {
    line-height: 1.5;
  }
<style/>

