---
import Navbar from '../components/sidebar.astro';
import '../styles/global.css'
---
<body>
  <Navbar />
  <main>
    <div>
    <h1>BACKGROUND</h1>
    <p>Hello there! I'm Lim Wei Jen, a self-taught full-stack web developer. I love collaborating on quick projects and bringing ideas to life. With a passion for both graphics design and programming, I create visually stunning and functional websites. I love to embark on new challenges to constantly push myself, and I am thrilled to collaborate with like-minded individuals. If you're looking for a dedicated web developer who can bring your ideas to life with precision and creativity, look no further! Let's work together to create something amazing!</p>
    <p>When I'm not immersed in the world of web development, you will probably find me playing chess, speed solving Rubik's cube, developing indie games and thinking about the meaning of life.</p>
  <a href="/skills">-></a>
    </div>
  </main>
</body>

<style>
  div {
    width: 50rem;
  }
<style/>
