---
import Navbar from '../components/sidebar.astro';
import Layout from '../layouts/Layout.astro'
---
<Layout title="Contacts">
  <Navbar />
  <main>
    <div>
      <h1>NOW IT'S YOUR TIME TO SAY HI</h1>
      <div class="contacts">
      <a href="mailto:limweijen96@gmail.com" style="text-decoration: underline;" target="_blank"><h2>limweijen96@gmail.com</h2></a>
      <a href="https://www.fiverr.com/limweijen" target="_blank"><h2>Fiverr</h2></a>
      <a href="https://github.com/LimWeiJen" target="_blank"><h2>Github</h2></a>
      <a href="https://www.instagram.com/limweijen96/" target="_blank"><h2>Instagram</h2></a>
      <a href="https://www.youtube.com/@weijenlim7811" target="_blank"><h2>YouTube</h2></a>
      <div class="preferable">(preferred)</div>
      </div>
    </div>
 </main>
</Layout>

<style>
  .preferable {
    color: #fff;
    position: absolute;
    transform: rotate(-15deg) translateY(-2rem) translateX(4rem);
    font-size: 0.8rem;
  }
  a {
    transition: all 0.3s ease;
  }
  a:hover {
    transform: scale(1.1);
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
  }
  body {
    overflow: hidden;
    opacity: 0%;
    animation: fade-in 3s ease forwards;
  }
  div {
    width: 30rem;
  }
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 97vh;
    overflow: hidden;
    z-index: -1;
  }
  @media (max-width: 767px) {
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    div {
      width: 10rem;
    }
    h1 {
      text-align: center;
      display: none;
    }
    .preferable {
      transform: rotate(-15deg) translateX(1rem);
    }
  }
<style/>
