<body>
  <div>
    <span>L</span>
    <span>I</span>
    <span>M</span>
    <span>W</span>
    <span>E</span>
    <span>I</span>
    <span>J</span>
    <span>E</span>
    <span>N</span>
  </div>
  <div>
    digital crafter
  </div>
  <a href="/about">Explore</a>
  <div></div>
  <div></div>
  <div></div>
</body>
