---
import Navbar from '../components/sidebar.astro';
import '../styles/global.css'
---
<body>
  <Navbar />
  <main>
  <h1>SKILLS</h1>
  <div>
    <h2>LANGUAGES</h2>
    <p>Javascript</p>
    <p>Typescript</p>
  </div>
  <div>
    <h2>LANGUAGES</h2>
    <p>Javascript</p>
    <p>Typescript</p>
  </div>
  <div>
    <h2>LANGUAGES</h2>
    <p>Javascript</p>
    <p>Typescript</p>
  </div>
  <div>
    <h2>LANGUAGES</h2>
    <p>Javascript</p>
    <p>Typescript</p>
  </div>
  </main>
  <a href="/handpicked_projects">-></a>
</body>
