---
import Navbar from '../components/sidebar.astro';
import '../styles/global.css'
---
<body>
  <Navbar />
  <main>
    <div>
  <h1>SKILLS</h1>
  <div class='t'>
  <div class="g">
    <h2>LANGUAGES</h2>
    <p>Javascript</p>
    <p>Typescript</p>
    <p>HTML</p>
    <p>CSS/SCSS</p>
    <p>Python</p>
  </div>
  <div class="g">
    <h2>FRONTEND</h2>
    <p>React/Next</p>
    <p>Astro</p>
    <p>Firebase</p>
    <p>TailwindCSS</p>
  </div>
  <div class="g">
    <h2>BACKEND</h2>
    <p>Express</p>
    <p>Flask</p>
    <p>MongoDB</p>
    <p>Prisma</p>
    <p>Jest</p>
    <p>Node</p>
  </div>
  <div class="g">
    <h2>TOOLS</h2>
    <p>Figma</p>
    <p>Git/Github</p>
    <p>Neovim</p>
  </div>
  </div>
  <a href="/handpicked_projects">-></a>
    </div>
   <div class="dots">
  </div>
<script type="text/javascript">
  console.log('hello')
  const parallaxContainer = document.querySelector('.dots');
  const speedList = [];

  for (let i = 0; i < 50; i++) {
    const dots = document.createElement('div');
    dots.classList.add('dot');
    dots.style.width = '0.2rem';
    dots.style.height = '0.2rem';
    dots.style.borderRadius = '100%'
    dots.style.background = 'rgb(255, 255, 255, 0.1)';
    dots.style.animation = 'fade 4s forwards ease-in'
    dots.style.zIndex = '-10';
    dots.style.position = 'absolute';
    dots.style.left = `${Math.random() * 100}%`;
    dots.style.top = `${Math.random() * 100}%`;
    parallaxContainer.appendChild(dots);
    speedList.push(Math.random() * 2);
  }

document.addEventListener('mousemove', handleMouseMove);

function handleMouseMove(event) {
  const mouseX = event.clientX;
  const mouseY = event.clientY;

  const offsetX = mouseX / parallaxContainer.offsetWidth;
  const offsetY = mouseY / parallaxContainer.offsetHeight;

  const parallaxLayers = document.querySelectorAll('.dot');

  parallaxLayers.forEach((layer, i) => {
    const translateX = offsetX * 100 * speedList[i];
    const translateY = offsetY * 100 * speedList[i];

    layer.style.transform = `translate3d(${translateX}px, ${translateY}px, 0)`;
  });
}
</script>

 </main>
</body>

<style>
  .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 97vh;
    overflow: hidden;
    z-index: -1;
  }
  body {
    overflow: hidden;
    opacity: 0%;
    animation: fade-in 3s ease forwards;
  }
  h1 {
    margin: 1rem;
  }
  .t {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .g {
    margin: 0rem 1rem;
  }
  p {
    margin: 0.1rem;
  }
  a {
    position: absolute;
    padding: 1rem
  }
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
</style>
