<div class="custom_project">
  <a href={Astro.props.url} target="_blank">
  <img src={Astro.props.img} width="400rem" alt="">
  <h2>{Astro.props.title}</h2>
  <p>{Astro.props.desc}</p>
  <hr>
  </a>
</div>
<style>
  .custom_project {
    width: 50rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
</style>
