<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">Background</a></li>
  <li><a href="/skills">Skills</a></li>
  <li><a href="/handpicked_projects">Handpicked Projects</a></li>
  <li><a href="/all_projects">All Projects</a></li>
  <li><a href="/contacts">Contacts</a></li>
</ul>
<style>
  ul {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
  }
  li {
    transition: all 0.3s ease;
  }
  li:hover {
    transform: translateX(1rem);
  }
  @media (max-width: 767px) {
    ul {
      display: flex;
      margin-top: 1rem;
      font-size: 0.6rem;
      justify-content: space-between;
      width: 93vw;
      top: 0%;
    }
    li {
      padding: 1rem;
    }
    li:hover {
      transform: scale(1.1);
    }
  }
</style>
