<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">Background</a></li>
  <li><a href="/skills">Skills</a></li>
  <li><a href="/handpicked_projects">Handpicked Projects</a></li>
  <li><a href="/all_projects">All Projects</a></li>
  <li><a href="/contacts">Contacts</a></li>
</ul>
<style>
  ul {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 5rem;
    padding: 0;
  }
  li {
    transition: all 0.3s ease;
  }
  li:hover {
    transform: translateX(1rem);
  }
</style>
